@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');

html,
body {
  height: 100vh;
  margin: 0;
  font-family: Mulish !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-error {
  border-color: red;
}
